<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Initiaville{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    {{ render(controller(
        'App\\Controller\\DefaultController::catMenu')
    ) }}


    <body>
    <main class="main-content container">

    {% block body %}{% endblock %}
    </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">InitiaVille</span>
            </div>
        </footer>
        {% block javascripts %}
            <script>
                $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
