{% extends 'base.html.twig' %}

{% block body %}
    <h1>OUPS !</h1>

    <p>
        Cette page n'existe pas. <a href="{{ path('homepage') }}">Cliquez ici pour revenir à la page d'accueil.</a>.
    </p>
{% endblock %}