{% extends 'base.html.twig' %}

{% block title %}Les projects{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>
    <main class="container">
        <section class="row recipes">
            {% for project in projects %}
                {% include 'project/_card.html.twig' with {'project': project} only  %}
            {% else %}
                <div>Pas de projet</div>

            {% endfor %}
        </section>
    </main>

{% endblock %}
